<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- 构造器方式注入 -->
	<bean id="person" class="com.shell.bean.Person">
		<constructor-arg name="name" value="xieyu"></constructor-arg>
		<!-- <constructor-arg name="age" value="23"></constructor-arg> -->
	</bean>
	
	<bean id="person1" class="com.shell.bean.Person">
		<property name="name" value="xy"></property>
		<property name="age" value="24"></property>
	</bean>
</beans>
